[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

#Ensures RoR2 assemblies are not redistributed accidentally
MeltdownUnity/[Pp]ackages/[Rr]isk of Rain 2/*.dll
MeltdownUnity/[Pp]ackages/[Rr]isk of Rain 2/[Pp]lugins/*.dll

#Client side only thunderkit related files.
MeltdownUnity/Assets/ThunderKitSettings/EditorInspectorSettings.asset
MeltdownUnity/Assets/ThunderKitSettings/RoR2.asset
MeltdownUnity/Assets/ThunderKitSettings/Logs/*
MeltdownUnity/Assets/ThunderKitSettings/ThunderKit Extensions.asset
MeltdownUnity/ThunderKit/

#Ensures mod dependencies such as R2API and others are not explicitly added to the github repository to avoid unecesary redistribution
SS2-Project/Packages/*
!SS2-Project/Packages/packages-lock.json
!SS2-Project/Packages/manifest.json